- content_for :title, "Circles Prototypes"
- @body_id = "sitemap"
- @body_class = "green"

%h5{:style => "margin: 2rem 0 3rem 0;"} Welcome to Circles prototyping!

%ul.block-list
  = link_to home_path do
    %li New User
  = link_to new_circle_path do
    %li New Circle
  = link_to invite_home_path do
    %li New Invitation
  = link_to status_path do
    %li Set status
    
