.feed-post
  %header
    %h5 Circles
    %p.sub Jun 08
  .content
    %h3 Passive data
    %p It might be useful to ask Peter to provide the circle with some extra information.
    %ul
      %li Express yourself
      %li Update your status
      %li Get updates from your circle members

    %p Do you want to ask Peter to give the circle his information?

    %button.small Ask for data
  = render "shared/feed_post_footer"
