.feed-post
  %header
    %h5 Julia
    %p.sub Jun 10
  .image
    = image_tag "view.jpg"
  .content
    %h3 The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
    %p.sub place.com
  = render "shared/feed_post_footer"
