.feed-post
  %header
    %h5 Circles
    %p.sub Jun 08
  .content
    %h3 Welcome to Peer's circle, Julia! In this circle you can:
    %ul
      %li Express yourself
      %li Update your status
      %li Get updates from your circle members
  = render "shared/feed_post_footer"
