.question
  .question-title
    %h4 Do you want to add a photo so that people can recognise you?
    
.white-panel.sheet-launcher
  #choose-a-photo
    #photo-icon
    %p Add a Photo
  = image_tag "illustrations/1.png", :style => "left: -20px;", :class => "illustration"

- content_for :bottom_sheet do
  = link_to photo_chooser_path do
    %ul
      %li Add from Facebook
      %li Choose from photo library
      %li Take photo
