.feed-post
  %header
    %h5 Jack
    %p.sub Jun 08
  .content
    %h3 The Myspace page defines the individual, his or her characteristics, traits, personal choices and the overall personality of the person.
  = render "shared/feed_post_footer"
