button, input[type="submit"], a.button
  display: inline-block
  text-decoration: none
  border: none
  outline: none
  cursor: pointer
  background: blue
  height: $space-5
  line-height: $space-5
  padding: 0 $space-2
  color: white
  @extend .body
  @extend .bolder

  &.fixed-bottom
    width: calc(100% - #{$space-2})
    position: absolute
    left: $space-1
    bottom: $space-7

