button, input[type="submit"], a.button
  display: inline-block
  text-decoration: none
  border: none
  outline: none
  cursor: pointer
  border-radius: 500px
  text-align: center
  background: $blue
  height: $space-6
  line-height: $space-6
  padding: 0 $space-4
  color: white
  @extend .button
  -webkit-appearance: none
  transition: all 0.7s

  &.small
    font-size: 14px
    height: $space-5
    line-height: $space-5
    letter-spacing: 0.02em

  &.tiny
    font-size: 17px
    height: $space-30
    line-height: $space-30
    text-transform: none
    padding: 0 $space-3
    letter-spacing: -0.01em
    @extend .body-medium

  &.fixed-bottom
    width: calc(100% - #{$space-2})
    position: absolute
    left: $space-1
    bottom: $space-7

  &.ghost
    background: none !important
    border: 1px solid $cta
    color: $cta

  &.blank
    background: none
    color: $cta

a.button-row
  @extend .row-with-arrow
