@import "utilz"
@import "fonts"
@import "variables"
@import "mixins"
@import "typography"
@import "carousel"
@import "modal"
@import "tooltip"
@import "lists"
@import "tables"
@import "buttons"
@import "forms"
@import "tab_bar"

@import "testing"
@import "home"
@import "onboarding"
@import "fixed_to_base"
@import "circle_switcher"
@import "circle"
@import "expression"
@import "new-circle"
@import "status"
@import "account"
@import "profile"
@import "nav_bar"
@import "chat"

*, *:before, *:after
  box-sizing: border-box

ul
  margin: 0
  padding: 0

li
  list-style-type: none

html
  overflow: hidden
  font-size: 62.5%

body
  margin: 0
  padding: 0
  position: static
  overflow-y: hidden
  background-color: $grey-dark
  width: 100%
  -webkit-tap-highlight-color: rgba(0,0,0,0)

  &.inactive
    position: fixed
    overflow-y: scroll

  &.dk-blue
    .outer-wrapper
      background-color: $blue

    h1, h2, h3, h4, h5, h6 p, .title
      color: $peach-ultra

    button, input[type="submit"], a.button
      background: $peach-bg
      color: $blue

  &.blue
    .outer-wrapper
      background-color: $blue-ultra
  &.peach
    .outer-wrapper
      background-color: $peach-ultra
  &.green
    .outer-wrapper
      background-color: $green-bg
  &.brand-blue
    .outer-wrapper
      background-color: $brand-blue

.outer-wrapper
  width: 100%
  height: 100%
  overflow: hidden
  padding: 0
  position: absolute
  left: 50%
  top: 50%
  max-width: $max-width
  max-height: $max-height
  transform: translate(-50%, -50%)

.inner-wrapper
  display: block
  width: 100%
  height: 100%
  overflow: hidden

.page-content
  max-height: $max-height
  height: 100%
  width: 100%
  margin: 0 0 0 0
  overflow-y: auto
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  position: relative
  padding: $space-3 $space-2

  &.tab-bar
    max-height: $max-height - $tab-bar-height
    height: calc(100% - #{$tab-bar-height})

  &.nav-bar
    // - $nav-bar-height
    max-height: $max-height
    height: 100%
    padding: $nav-bar-height $space-2 $space-3 $space-2

  &.nav-bar.tab-bar
    // - $nav-bar-height 
    //calc(100% - #{$nav-bar-height} - #{$tab-bar-height})
    max-height: $max-height - $tab-bar-height
    height: calc(100% - #{$tab-bar-height})
    //margin: $nav-bar-height 0 0 0
    padding: $nav-bar-height $space-2 $space-3 $space-2

  &.nav-bar.add-people
    max-height: $max-height - $nav-bar-height - 12rem
    height: calc(100% - #{$nav-bar-height} - #{12rem})
    margin: ($nav-bar-height + 12rem) 0 0 0
    padding-top: 0
    //padding: ($nav-bar-height + 12rem) $space-3 $space-3 $space-3

  &.nav-bar.tab-bar.circle-tabs
    max-height: $max-height - $nav-bar-height - $tab-bar-height - 5rem
    height: calc(100% - #{$nav-bar-height} - #{$tab-bar-height} - #{5rem})
    margin: ($nav-bar-height + 5rem) 0 0 0
    padding-top: 0

#page-header
  padding-top: $space-3
  h1
    margin-bottom: $space-3

.explanation-page
  section
    margin-bottom: $space-5
    &:first-child
      padding-top: $space-3
  p
    margin-top: 0
  h2
    margin-bottom: 0.5rem

.white-panel
  background: white
  border-top: $light-border
  border-bottom: $light-border
  padding: $space-5
  text-align: center
  @extend .full-width

  h4
    margin-bottom: $space-3

  .blank
    margin-top: $space-2

.docked-to-base
  position: absolute
  bottom: 0
  left: 0
  right: 0
  text-align: center
  background: white
  border-top: $light-border
  padding: $space-30 $space-3 $space-30 $space-3

  &.padded
    padding: $space-5

  h4
    max-width: 18rem
    margin: 0 auto $space-3

  a
    @extend .caption
    display: block
    opacity: 0.7
    margin-top: $space-3

img.illustration
  pointer-events: none
  position: absolute
  width: 10rem
  top: -9.5rem
  z-index: 10000

#sitemap
  text-align: center
  img
    width: 180px
