@import "utilz"
@import "fonts"
@import "variables"
@import "mixins"
@import "typography"
@import "carousel"
@import "modal"
@import "lists"
@import "tables"
@import "buttons"
@import "forms"
@import "tab_bar"

@import "home"
@import "onboarding"
@import "circle"
@import "new-circle"
@import "account"
@import "profile"
@import "nav_bar"
@import "chat"

*, *:before, *:after
  box-sizing: border-box

ul
  margin: 0
  padding: 0

li
  list-style-type: none

html
  overflow: hidden
  font-size: 62.5%

body
  margin: 0
  padding: 0
  position: static
  overflow-y: hidden
  background-color: $grey-dark
  width: 100%

  &.inactive
    position: fixed
    overflow-y: scroll

  &.dk-blue
    .outer-wrapper
      background-color: $blue

    h1, h2, h3, h4, h5, h6 p, .title
      color: $peach-bg

    button, input[type="submit"], a.button
      background: $peach-bg
      color: $blue

  &.blue
    .outer-wrapper
      background-color: $blue-bg
  &.peach
    .outer-wrapper
      background-color: $peach-bg
  &.green
    .outer-wrapper
      background-color: $green-bg

.outer-wrapper
  width: 100%
  height: 100%
  overflow: hidden
  padding: 0
  position: absolute
  left: 50%
  top: 50%
  max-width: $max-width
  max-height: $max-height
  transform: translate(-50%, -50%)

.inner-wrapper
  display: block
  width: 100%
  height: 100%
  overflow: hidden

.page-content
  max-height: $max-height
  height: 100%
  width: 100%
  margin: 0 0 0 0
  overflow-y: auto
  overflow-x: hidden
  -webkit-overflow-scrolling: touch
  position: relative
  padding: $space-3

  &.tab-bar
    max-height: $max-height - $tab-bar-height
    height: calc(100% - #{$tab-bar-height})

  &.nav-bar
    max-height: $max-height - $nav-bar-height
    height: calc(100% - #{$nav-bar-height})
    margin: $nav-bar-height 0 0 0

  &.nav-bar.tab-bar
    max-height: $max-height - $nav-bar-height - $tab-bar-height
    height: calc(100% - #{$nav-bar-height} - #{$tab-bar-height})
    margin: $nav-bar-height 0 0 0

.full-size-header
  margin-left: -$space-3
  margin-top: -$space-3
  width: calc(100% + #{$space-3 * 2})

.overwide
  width: calc(100% + #{$space-3})

.wrapper
  @extend .outer-wrapper
  position: relative

.centered
  text-align: center

.circle-image
  border-radius: 50%
  overflow: hidden
  background-size: cover
  background-position: center center
