@import "utilz"
@import "variables"
@import "typography"
@import "modal"
@import "lists"
@import "tables"
@import "buttons"
@import "forms"
@import "tab_bar"

@import "onboarding"
@import "circle"
@import "account"
@import "nav_bar"
@import "chat"

*, *:before, *:after
  box-sizing: border-box

ul
  margin: 0
  padding: 0

li
  list-style-type: none

html
  overflow-x: hidden
  font-size: 62.5%

body
  margin: 0
  padding: 0 0 $tab-bar-height
  min-height: 100vh
  position: static
  overflow-y: auto
  width: 100%
  //background: url(image-path("bg.png")) no-repeat
  background-color: $grey-bg
  background-size: cover
  background-position: center center

  &.inactive
    position: fixed
    overflow-y: scroll

  &#nav-bar-present
    padding-top: $space-6

.outer-wrapper
  position: relative
  padding: $space-3

.overwide
  width: calc(100% + #{$space-3})

.wrapper
  @extend .outer-wrapper
  position: relative

.centered
  text-align: center

.circle-image
  border-radius: 50%
  overflow: hidden
  background-size: cover
  background-position: center center