.icon-circles
  mask-image: url(image-path("icons/circles-icon-filled.svg"))

.icon-bookmark
  mask-image: url(image-path("icons/bookmark-icon-filled.svg"))

.icon-account
  mask-image: url(image-path("icons/account-icon-filled.svg"))

.icon-network
  mask-image: url(image-path("icons/account-icon-filled.svg"))

.basic-icon
  background-color: $cta
  @extend .icon-background
  position: relative

.icon-dots
  @extend .basic-icon
  -webkit-mask-size: 100% auto
  -webkit-mask-position: center center
  mask-image: url(image-path("icons/dots-icon.svg"))

.icon-activity
  @extend .basic-icon
  mask-image: url(image-path("icons/chart.svg"))

.icon-bookmark
  @extend .basic-icon
  background-color: $grey-medium
  mask-image: url(image-path("icons/bookmark-circle.svg"))

  &.active
    background-color: $cta
    mask-image: url(image-path("icons/bookmark-circle-filled.svg"))

.icon-reaction
  @extend .basic-icon
  background-color: $grey-medium
  mask-image: url(image-path("icons/add-reaction.svg"))

  &.active
    background-color: $cta
    mask-image: url(image-path("icons/add-reaction-filled.svg"))


.icon-trophy
  @extend .basic-icon
  mask-image: url(image-path("icons/trophy.svg"))
  width: 39px
  height: 48px

.icon-meeting
  @extend .basic-icon
  mask-image: url(image-path("icons/meeting.svg"))
  width: 33px
  height: 34px

.icon-expression
  @extend .basic-icon
  mask-image: url(image-path("icons/expression.svg"))
  width: 53px
  height: 53px

.icon-logo
  @extend .icon-background
  mask-image: url(image-path("icons/circles-logo.svg"))
