.icon-circles
  mask-image: url(image-path("icons/circles-icon-filled.svg"))

.icon-bookmark
  mask-image: url(image-path("icons/bookmark-icon-filled.svg"))

.icon-account
  mask-image: url(image-path("icons/account-icon-filled.svg"))

.icon-network
  mask-image: url(image-path("icons/account-icon-filled.svg"))
