ul.iconed-list
  @extend .overwide

  li
    display: flex
    align-items: center

    .image
      width: $space-7
      height: $space-7
      @extend .circle-image

    > div:not(.image)
      width: calc(100% - #{$space-7})
      margin-right: -$space-3
      padding: $space-1 $space-2 $space-2 $space-2
      border-bottom: 1px solid $grey-light

ul.block-list
  @extend .overwide

  li
    height: $space-6
    line-height: $space-6
    border-bottom: 1px solid $grey-light
    @extend .display-0
    background: url(image-path("icons//arrow.png")) no-repeat
    background-size: auto $space-4
    background-position: right $space-2 center

ul.contact-list
  display: flex

  li
    width: $space-5
    height: $space-5
    margin-right: $space-1
    border: 3px solid green
    @extend .circle-image

    
ul.tabs
  position: relative
  border: 1px solid $black
  border-radius: 3px
  padding: 0
  display: inline-block
  font-size: 0

  li 
    display: inline-block
    padding: 0 24px
    height: 27px
    line-height: 27px
    text-decoration: none
    background: white
    @extend .body

    &.active 
      background: $black
      color: white
      @extend .bolder
      