.full-width
  width: calc(100% + #{$space-3 * 2})
  margin-left: -$space-3
  margin-right: -$space-3

.input-row
  border: 1px solid $grey-light
  text-align: left
  border-left: none
  border-right: none
  background: white
  min-height: $space-6

.row-with-arrow
  @extend .full-width
  @extend .input-row
  border-bottom: none
  line-height: $space-6
  padding: 0 $space-3
  display: block
  background: white url(image-path("icons/arrow.png")) no-repeat center right $space-3
  background-size: auto $space-3
