.full-width
  width: calc(100% + #{$space-3 * 2})
  margin-left: -$space-3
  margin-right: -$space-3

.input-row
  border: 1px solid $grey-light
  text-align: left
  border-left: none
  border-right: none
  background: white
  min-height: $space-6
