#tab-bar
  z-index: $z-tab-bar
  overflow: hidden
  position: fixed
  bottom: 0
  left: 0
  right: 0
  background: white
  height: $tab-bar-height

  ul
    display: flex

  li
    flex: 1

    a
      display: block
      position: relative
      text-align: center
      height: 100%
      height: $tab-bar-height
      @extend .tiny

      img
        height: $space-5
        width: auto

      span
        position: absolute
        bottom: 2px
        left: 0
        right: 0
