h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  font-weight: 400

.body-regular 
  font-family: "HKGroteskPro-Regular"
  font-weight: normal

.body-medium 
  font-family: "HKGroteskPro-Medium"
  font-weight: normal

.body-semi 
  font-family: "HKGroteskPro-SemiBold"
  font-weight: normal

.body-bold 
  font-family: "HKGroteskPro-Bold"
  font-weight: normal

.headline-regular 
  font-family: "NeueHansKendrick-Regular"
  font-weight: normal

.headline-medium 
  font-family: "NeueHansKendrick-Medium"
  font-weight: normal

.headline-bold 
  font-family: "NeueHansKendrick-SemiBold"
  font-weight: normal

body
  @extend .body-regular
  -webkit-font-smoothing: antialiased
  letter-spacing: -0.01em
  font-size: 17px
  color: $blue

  

p, li
  line-height: 1.4

i
  &.fa
    font-size: 1.2em

a
  cursor: pointer
  text-decoration: none
  color: inherit
  @extend .body-medium

  &.link
    text-decoration: underline

  &.row
    text-align: center
    display: block
    height: $space-6
    line-height: $space-6
    margin-top: 1rem

  &.small-link
    text-decoration: underline
    @extend .caption
    opacity: 0.7

.display-3
  @extend .headline-regular
  font-size: 43px
  letter-spacing: -0.01em

.display-2
  @extend .body-medium
  font-size: 28px
  letter-spacing: -0.01em

.display-1
  @extend .body-medium
  font-size: 22px
  letter-spacing: -0.01em

.display-0
  @extend .body-medium
  font-size: 19px
  letter-spacing: -0.01em

.title-text
  @extend .body-semi
  font-size: 17px
  letter-spacing: -0.01em

.body
  @extend .body-medium
  font-size: 16px
  letter-spacing: -0.01em

.chat
  @extend .body-regular
  font-size: 16px
  letter-spacing: -0.01em

.body-small
  @extend .body-medium
  font-size: 15px
  letter-spacing: -0.01em

.caption
  @extend .body-medium
  font-size: 13px
  letter-spacing: -0.01em

.tiny
  @extend .body-medium
  font-size: 12px
  letter-spacing: -0.01em

.button
  @extend .body-bold
  text-transform: uppercase
  font-size: 14px
  letter-spacing: 0.08em


h1 
  @extend .display-3

h2 
  @extend .display-2

h3 
  @extend .display-1

h4 
  @extend .display-0

h5
  @extend .body
  @extend .body-bold

h6
  @extend .caption

p
  @extend .body

  &.sub
    opacity: 0.7

  &.tiny
    @extend .tiny
    opacity: 0.7


@mixin text-link
  a
    color: black
    text-decoration: underline

.underline
  text-decoration: underline
