h1, h2, h3, h4, h5, h6
  margin: 0
  padding: 0
  font-weight: 400

.body-regular 
  font-family: "HKGroteskPro-Regular"
  font-weight: normal

.body-medium 
  font-family: "HKGroteskPro-Medium"
  font-weight: normal

.body-bold 
  font-family: "HKGroteskPro-SemiBold"
  font-weight: normal

.headline-regular 
  font-family: "NeueHansKendrick-Regular"
  font-weight: normal

.headline-medium 
  font-family: "NeueHansKendrick-Medium"
  font-weight: normal

.headline-bold 
  font-family: "NeueHansKendrick-SemiBold"
  font-weight: normal

body
  @extend .body-regular
  -webkit-font-smoothing: antialiased
  letter-spacing: -0.01em
  font-size: 16px
  color: $grey-dark

h1
  @extend .headline-medium

p, li
  line-height: 1.6

i
  &.fa
    font-size: 1.2em

a
  cursor: pointer
  text-decoration: none
  color: inherit

.display-3
  font-size: 42px
  letter-spacing: -0.01em

.display-2
  font-size: 36px
  letter-spacing: -0.01em

.display-1
  font-size: 24px
  letter-spacing: -0.01em

.display-0
  font-size: 18px
  letter-spacing: -0.01em

.body
  font-size: 16px
  letter-spacing: -0.01em

.caption
  font-size: 12px
  letter-spacing: -0.01em

.tiny
  font-size: 10px
  letter-spacing: -0.01em

.bolder
  @extend .body-bold

h1 
  @extend .display-3

h2 
  @extend .display-2

h3 
  @extend .display-1

h4 
  @extend .display-0

h5
  @extend .body

h6
  @extend .caption

p
  @extend .body


@mixin text-link
  a
    color: black
    text-decoration: underline

.underline
  text-decoration: underline
