// fixed spacing variables - subject to change LOL
$space-1: 0.6rem
$space-2: 1.2rem
$space-3: 1.8rem
$space-30: 3rem
$space-4: 2.4rem
$space-5: 3.6rem
$space-6: 4.8rem
$space-7: 6rem
$space-8: 7.2rem
$space-9: 9.6rem
$space-10: 16rem
//
//SIZES
$max-width: 38rem
$max-height: 67rem
$tab-bar-height: 4.9rem
$nav-bar-height: 4.8rem
$rounded: 2px
$top-offset: 1.4rem
//GLOBAL Z-INDEXES - groups into 1000s
$z-under: -1
//
$z-tab-bar: 4000
$z-pinned: 4100
//
$z-tooltip: 8000
$z-overlay-bg: 8100
$z-overlay-box: 8200
//
$z-tooltip: 9000
//
$z-overlay-nav-bar: 10000

//
$z-fixed-to-base: 11000
//
$z-bottom-sheet: 12000
//
//colours
$black: #22334B
$grey-dark: #333333
$grey-medium: #999999
$grey-light: #D0D2CF
$grey-bg: #F8F8F8
//
$blue: #19367F
$blue-2: #19367F
$blue-bg: #DEE7F7
$blue-ultra: #ECF2FF
//
$cta: #487CEF//19367F//19367F//#146896//1640AA
//
$mint: #DCF4F4
//
$green: #8FDAC6
$green-2: #19367F
$green-bg: #D9EEE1
$green-ultra: #E7F4EC
//
$peach: #FFC6B2
$peach-2: #F7DBCD
$peach-3: #FAE6DC
$peach-bg: #FFE7D6
$peach-ultra: #FBECE4
//
$orange-bg: #FBF5D7
//
$red-offer: #C4201D
$red-warning: #EA122A
$red-bg: #FFF3F4
//
$yellow: #FFCD00
$yellow-bg: #FFFFCA
//
$light-border: 1px solid $grey-light
