#chat
  @extend .full-width
  padding: 2rem 0.8rem 20rem 0.8rem
  color: $black

  .day
    margin: $space-2 0 $space-3 0
    display: block
    text-align: center

    p
      opacity: 0.4
      border: 1px solid $black
      height: 2.4rem
      line-height: 2.4rem
      @extend .caption
      @extend .body-semi
      border-radius: 500px
      padding: 0 $space-3
      display: inline-block

  .gap
    height: 2rem
    clear: both

  .alert
    border: 2px solid purple
    padding: $space-2
    color: purple
    border-radius: 3px
    text-align: center

  .prompt
    background: white
    border-radius: 3px
    //box-shadow: 0px 1px 0px rgba(0,0,0,0.15)
    margin-bottom: 2rem
    border: 2px solid $cta
    clear: both

    .content
      display: flex
      flex-align: flex-start
      align-items: center
      padding: $space-2
      background-color: $cta
      color: white

      .icon-prompt
        width: 3.2rem
        height: 3.2rem
        margin-right: 1rem
        background-color: white

    .prompt-actions
      padding: 0.6rem 0
      background: white
      color: $cta
      ul
        display: flex
        justify-content: space-around
      li
        flex: 1
        text-align: center
        @extend .body-small
        @extend .body-semi

        &:not(:last-child)
          border-right: 1px solid $peach

    p
      @extend .title-text
      @extend .body-semi


  .name
    @extend .caption
    margin-bottom: 3px
    display: inline-block
    opacity: 0.5

  .time
    @extend .tiny
    color: rgba(0,0,0, 0.4)
    position: absolute
    right: -$space-1
    bottom: 0
    transform: translateX(100%)

  .reaction
    clear: both
    @extend .caption
    color: $grey-medium
    margin-bottom: $space-1

  .face
    float: left
    width: 4rem
    height: 4rem
    margin-right: 1rem
    margin-top: -0.4rem
    @extend .circle-image
    border: none !important

  .bubble
    border-radius: 3px
    background: white
    padding: $space-2 $space-2
    max-width: 28rem
    margin-bottom: 3px
    float: left
    box-shadow: 0px 1px 0px rgba(0,0,0,0.15)
    position: relative
    min-height: 4.2rem

    &:after
      content: ""
      position: absolute
      top: 2.8rem
      left: -1.2rem
      background-color: white
      @extend .icon-background
      -webkit-mask-size: 100% auto
      mask-image: url(image-path("icons/speech-bubble-left.svg"))
      height: 1.8rem
      width: 1.4rem

  .them, .us, .alert
    clear: both
    margin-bottom: $space-2
    vertical-align: top

  p
    margin: 0

  .them
    float: left
    .name
      margin: 0 0.8rem 0 0
    .bubble
      padding-top: 0.8rem
      &:after
        top: 3.2rem

  .us
    float: right
    margin-right: 0.8rem
    margin-bottom: $space-1
    .name
      display: none
    .time
      right: auto
      left: -$space-1
      transform: translateX(-100%)
    .bubble
      clear: both
      float: right
      background: rgba($cta,0.1)
      &:after
        content: ""
        left: auto
        right: -1.2rem
        background-color: rgba($cta,0.1)
        @extend .icon-background
        -webkit-mask-size: 100% auto
        -webkit-mask-position: center center
        mask-image: url(image-path("icons/speech-bubble-right.svg"))
        height: 1.8rem
        width: 1.4rem    

#circle-private
  .name
    color: white

#private-chat-ui
  position: absolute
  top: -$tab-bar-height - $space-6
  left: 0
  background: lighten($blue, 65%)
  padding: 0 $space-2
  height: $space-6
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  box-shadow: 0px -1px 0px rgba(0,0,0,0.15)

  button
    margin-left: auto

  #chat-input
    min-height: auto
    height: $space-5
    margin: 0 $space-2 0 0 !important
    border: $light-border
    border-radius: 4px
