#chat
  overflow: hidden
  margin-top: $space-3

  .alert
    border: 2px solid purple
    padding: $space-2
    color: purple
    border-radius: 3px
    @extend .bolder
    text-align: center
    background: white

  .name
    @extend .caption
    @extend .bolder
    color: $grey-dark
    margin-bottom: 3px

  .bubble
    border-radius: 3px
    background: lighten(green, 60%)
    padding: $space-1
    max-width: 28rem
    margin-bottom: 3px
    float: left

  .them, .you, .alert
    clear: both
    margin-bottom: $space-2
    vertical-align: top
    overflow: hidden

  .them
    float: left

  .us
    float: right

    .bubble
      clear: both
      float: right
      background: lighten(blue, 40%)

    .name
      text-align: right

  .time
    @extend .caption
    color: $grey-medium

  .reaction
    clear: both
    @extend .caption
    color: $grey-medium
    margin-bottom: $space-1

  .face
    float: left
    width: $space-5
    height: $space-5
    margin-right: $space-1
    @extend .circle-image

#circle-private
  .name
    color: white