#circle-nav-tabs
  // position: absolute
  // top: 4.8rem
  // left: 0
  // right: 0
  // z-index: 10000
  // height: 5rem
  @extend .full-width
  padding: 0 0.8rem
  background: $blue-bg
  overflow: hidden

  ul
    @extend .basic-tabs

#feed
  padding-top: $space-2
  color: $black

$post-padding: $space-2

.status-post
  border-radius: 3px
  background: rgba($blue, 0.15)
  padding: $space-2
  margin-bottom: $space-2
  box-shadow: 0px 1px 0px rgba(0,0,0,0.15)

  header
    display: flex
    flex-align: space-around
    align-items: center
    line-height: 1

    img
      width: 3.2rem
      margin-right: 0.8rem

    p
      margin: 0
      margin-left: auto
      @extend .tiny

.feed-post
  @extend .full-width
  background: white
  box-shadow: 0px 1px 0px rgba(0,0,0,0.15)
  margin-bottom: $space-2

  .image
    img
      width: 100%
    & + .content
      margin-top: $space-2

  .content
    padding: 0 $post-padding $space-1 $post-padding

    h3
      @extend .title-text
      @extend .body-medium

    > ul
      margin-top: $space-2
      li
        @extend .body
        list-style: circle
        list-style-position: inside

    a
      color: $blue

    p.sub
      margin: 0.4rem 0 0 0
      opacity: 0.5
      @extend .caption

  header
    display: flex
    justify-content: space-between
    padding: $space-2 $post-padding $space-2 $post-padding

    h5
      @extend .body-small

    p
      @extend .tiny
      margin: 0 0 0 auto
      opacity: 0.5

  footer
    display: flex
    justify-content: space-between
    padding: $space-1 $post-padding $space-1 $post-padding

    .bookmark-button, .replies
      @extend .body-small
      display: inline-block
      vertical-align: middle

    .replies
      margin-right: $space-1

    img
      width: 3rem

    .like-actions
      margin-left: auto

    .reactions

  &.event
    .content
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      width: 100%

      h3
        //width: 100%
        margin-bottom: $space-4

      .details
        flex: 2
        ul
          li
            overflow: hidden
            margin-bottom: $space-3
            &:last-child
              margin-bottom: $space-2

            img
              float: left
              margin-right: $space-2
              width: 2.5rem
            h4
              @extend .body-small

            p
              @extend .caption
              opacity: 0.5
              margin: 0

      .actions
        flex: 1
        text-align: right

        button
          margin-bottom: $space-2
