#expression-home
  text-align: center
  padding-top: 7rem

  ul
    margin-top: $space-3
    display: flex
    justify-content: space-between
    align-items: flex-end

    li
      margin: 0 $space-1

      &#meeting, &#pledge
        flex: 1
      &#post
        flex: 3

      img
        width: 100%

#new-post
  @extend .full-width

#new-post-user-content
  position: relative

  .images
    background: white
    display: flex
    flex-align: flex-start

    img
      height: 8rem

  .location

  textarea
    padding: $space-3
    width: 100%
    margin: 0
    @extend .display-0
    height: 20rem

#new-post-controls
  background: rgba($blue, 0.05)
  padding: 0 $space-3
  height: 4.8rem
  line-height: 4.8rem
  display: flex
  justify-content: space-between
  align-items: center

  button
    margin-left: auto

  ul
    display: flex
    justify-content: flex-start

    li
      margin-right: 2rem
      display: flex
      align-items: center
      cursor: pointer

    img
      height: 2.8rem

.post-content
  img.full
    width: 100%

#gif-search
  padding: $space-1

#new-post-location-content
  padding: 0 $space-2
  height: 3rem
  line-height: 3rem
  @extend .tiny
  opacity: 0.7!important
  color: $black
  background: white
  border-top: $light-border
  img
    height: 1.4rem
    display: inline-block
    margin-right: 0.4rem

#new-post-image-content

#new-post-gif-content

#new-post-image-user-content
  margin: $space-1 0 0 $space-1
  
#new-post-gif-user-content
  margin: $space-1 0 0 $space-1
