#home
  // .outer-wrapper
  //   position: relative
  //   overflow: hidden
  //   height: 100vh

  // &.new-circle
  //   .outer-wrapper
  //     height: calc(100vh - #{$tab-bar-height})
  //     padding: 0

#home-logo
  position: absolute
  top: 7rem
  left: 50%
  transform: translateX(-50%)
  width: 20rem

#home-content
  position: absolute
  bottom: 0
  left: 0
  right: 0
  text-align: center
  background: white
  border-top: $light-border
  padding: $space-6

  img
    pointer-events: none
    position: absolute
    width: 12rem
    top: -10.5rem

  h4
    max-width: 18rem
    margin: 0 auto $space-3

  a
    @extend .caption
    display: block
    opacity: 0.7
    margin-top: $space-3
