#nav-bar
  background: white
  position: fixed
  top: 0
  left: 0
  right: 0
  padding: 0 $space-2
  height: $space-6
  border-bottom: 1px solid $grey-light
  display: flex
  justify-content: space-between
  align-items: center

  #back
    background: url(image-path("icons/navigation-arrow.png")) no-repeat
    background-size: auto 100%
    height: $space-4
    width: 4rem

  .actions
    height: 3rem
    width: 4rem