#nav-bar
  background: white
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $space-6
  border-bottom: 1px solid $grey-light
  display: flex
  justify-content: space-between
  align-items: center