#nav-bar
  background: white
  position: fixed
  top: 0
  left: 0
  padding: 0 $space-2
  height: $nav-bar-height
  width: 100%
  max-width: 375px
  z-index: $z-overlay-nav-bar

  .title
    @extend .title-text
    position: absolute
    top: $top-offset
    left: 50%
    transform: translateX(-50%)
    color: $blue

    img
      width: 3rem
      margin-top: -0.65rem

  #back
    position: absolute
    top: $top-offset
    left: 1.2rem
    background: url(image-path("icons/navigation-arrow.png")) no-repeat
    background-size: auto 100%
    height: $space-3
    width: 4rem

  .actions
    position: absolute
    right: 1.2rem
    top: $top-offset

    a
      display: inline-block
      color: $cta
      @extend .body-semi

    img
      width: 2.5rem

  #next-button
    margin-top: -0.4rem
    border-radius: 500px
    color: $cta//$blue
    background: none
    text-transform: none
    letter-spacing: -0.01em
    height: $space-30
    line-height: $space-30
    padding: 0 $space-2
    min-width: none
    width: auto
    opacity: 0.3
    border: 1px solid $cta//$blue
    @extend .title-text

    &.active
      background: $cta//$blue
      opacity: 1
      color: white

.blue #nav-bar
  background: rgba($blue-ultra, 0.95)
.green #nav-bar
  background: rgba($green-ultra, 0.95)
.peach #nav-bar
  background: rgba($peach-ultra, 0.95)

#set-status #nav-bar
  background: none !important

#circle-switcher-control
  @extend .arrow-link
  position: absolute
  top: $top-offset - 0.5rem
  left: 1rem
  //border: 1px solid $blue
  background: rgba($cta, 0.1)
  color: $cta
  height: $space-30
  line-height: $space-30
  padding: 0 2.4rem 0 1.2rem
  border-radius: 500px

.dk-blue #nav-bar
  color: white
  background: $blue

  .title
    color: white

  #back
    background-image: url(image-path("icons/navigation-arrow-white.png"))

  #next-button
    color: $peach
    border-color: $peach-bg
    opacity: 0.4

    &.active
      background: $peach-bg
      color: $blue
      opacity: 1
