#question-holder
  position: static
  text-align: center

  img.illustration
    pointer-events: none
    position: absolute
    width: 9rem

  .age-question
    margin-bottom: $space-6
    position: relative

    &:first-child
      margin-top: $space-4

    .optional
      @extend .caption
      opacity: 0.7
      position: absolute
      top: 0.5rem
      right: 0

  .question
    display: flex
    flex-direction: column
    position: relative

    .question-title
      display: flex
      align-items: center
      justify-content: center
      padding: $space-3
      flex-direction: column
      position: relative

    .question-content
      position: relative
      margin-top: 2.8rem

      img
        top: -8.5rem

  h4
    margin-bottom: $space-2

  button
    margin-top: $space-2

  section
    position: static

#country-code
  position: absolute
  top: 6rem
  left: 0rem

.onboarding-content
  text-align: center
  width: 70%
  margin: 0 auto

  h1
    margin-bottom: $space-2

  h4
    margin-bottom: $space-3

  button, input[type="submit"], a.button
    margin-top: $space-3
