#question-holder
  position: absolute
  text-align: center
  width: 100%
  height: calc(100vh - #{$space-6})

  .question
    display: flex
    flex-direction: column
    height: calc(100vh - #{$space-6})

    .question-title
      flex-grow: 1

    .question-content

  h4
    margin-bottom: $space-6

  button
    margin-top: $space-2

  section
    position: absolute
    height: calc(100vh - #{$space-6})
    top: 0
    left: 0
    width: 100%

    header
      border-bottom: 1px solid $grey-light
      display: flex
      justify-content: space-between
      align-items: center
      padding-bottom: $space-2

  .scroll-content
    overflow-y: scroll
    max-height: 80vh
