#set-status
  text-align: center

  h2
    margin: 2rem 4rem 2rem 4rem

#slider
  width: 30rem
  margin: 5rem auto 10rem auto
  position: relative

  #track
    width: 100%
    height: 4px
    background: rgba($cta, 0.25)
    position: absolute
    top: 0
    left: 0
    border-radius: 2px

    #track-overlay
      position: absolute
      width: 100%
      height: 4px
      top: 0
      left: 0
      border-radius: 2px
      background: rgba($cta, 0.75)

    &:before, &:after
      display: none
      content: ""
      position: absolute
      top: 50%
      transform: translateY(-50%)
      width: 1.2rem
      height: 1.2rem
      border-radius: 50%
      background: $cta

    &:before
      left: 0

    &:after
      right: 0

#dragger
  position: absolute
  width: 8rem
  height: 8rem
  left: 50%
  margin-left: -4rem
  transform: translateY(-50%)

  #drag-center
    width: 3rem
    height: 3rem
    border-radius: 50%
    top: 2.5rem
    left: 2.5rem
    background: lighten($cta, 0.5)
    position: absolute
    text-align: center
    font-size: 30px
    z-index: 1000
    box-shadow: 0 2px 2px rgba(0,0,0,0.35)

#status-display
  position: relative
  width: 8rem
  height: 8rem
  margin: 0 auto 3rem auto

  img
    height: 100%

#status-setup-circles
  display: flex
  justify-content: space-between
  margin-top: 2rem

  li
    width: 9rem
    cursor: pointer

    .status-setup-circle
      width: 9rem
      height: 9rem
      border-radius: 50%
      border: 2px solid $blue
      overflow: hidden
      position: relative
      margin-bottom: 0.8rem

    .fill
      background: rgba($cta, 0.4)
      position: absolute
      bottom: 0
      left: 0
      right: 0
      height: 0
      transition: all 0.3s

    .lines
      hr
        border: none
        opacity: 0.4
        border-top: 1px dashed $blue
        position: absolute
        left: 0
        right: 0
        margin: 0

        &:first-child
          top: 24%

        &:nth-child(2)
          top: 49%

        &:nth-child(3)
          top: 74%

#status-texts
  margin: 3rem 0 2rem 0

