- content_for :title, "Account"
- @body_id = "home"
- @body_class = "blue no-nav-bar account"
- @inner_class = "tab-bar"
- @tab_highlight = "account-tab"

#page-header
  %h1 Account

= link_to account_path do
  .white-panel
    %h4 Coming Soon.
