- content_for :title, "Circles Home"
- @body_id = "account"
- @body_class = "nav-bar-present"

#nav-bar
  = link_to circles_path do
    #back

  .title
    %h5 Notebook

  .actions
    #profile-link{"data-page-target" => "#profile"}

%section{:id => "notebook"}
  %h2 A space to save you things