- content_for :title, "Bookmarks"
- @body_id = "home"
- @body_class = "green no-nav-bar bookmarks"
- @inner_class = "tab-bar"
- @tab_highlight = "bookmarks-tab"

#page-header
  %h1 Bookmarks

.white-panel
  %h4 Coming Soon.
