- content_for :title, "Circles Home"

%section{:id => "your-circle"}

%section{:id => "circles"}
  %h4
    Your circles

  %ul.iconed-list
    = render "shared/circle_row", :image => "default/1.jpg", :classes => ["in-store", "new"], :title => "Group name", :members => [{name: "Barry", image: "faces/1.jpg"}, {name: "Keith", image: "faces/1.jpg"}]

    = render "shared/circle_row", :image => "default/3.jpg", :classes => ["in-store", "new"], :title => "Group name 2", :members => [{name: "Barry", image: "faces/1.jpg"}, {name: "Keith", image: "faces/1.jpg"}]

    = render "shared/circle_row", :image => "default/7.jpg", :classes => ["in-store", "new"], :title => "Group name 3", :members => [{name: "Barry", image: "faces/1.jpg"}, {name: "Keith", image: "faces/1.jpg"}]