- content_for :title, "Group name"
- @body_id = "nav-bar-present"

#nav-bar
  = link_to circles_path do
    #back

  .title
    %h5 Group name

  .actions

.centered
  %ul.tabs
    %li.active Full circle
    %li Private

#chat
  .them
    .name
      Peter Coolman
      %span.time 2.30pm 12/10
    .face{:style => "background-image: url(#{image_path "faces/1.jpg"})"}
    .bubble Words that were said by ahuman
    

  .them
    .name
      Peter Coolman
      %span.time 2.30pm 12/10
    .face{:style => "background-image: url(#{image_path "faces/1.jpg"})"}
    .bubble Human says word

  .alert Peter hasn't left his house in 28 hours

  .you
    .name
      %span.time 2.30pm 12/10
    .bubble woof
    .reaction Aidan, Cosi & Beth agree with this

  .them
    .name
      Beth Bullock
      %span.time 2.30pm 12/10
    .face{:style => "background-image: url(#{image_path "faces/1.jpg"})"}
    .bubble Human says word not woof you strang buoy
    