- content_for :title, "New Expression"
- @no_tab_bar = true
- @body_id = "new-expression"
- @body_class = "blue"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    .title New expression
    .actions
      = link_to "Cancel", :back

#expression-home
  %h2 Post on your circle
  .white-panel
    %ul
      = link_to new_meeting_path do
        %li#meeting
          %div
            .icon-meeting
          .title Meeting
      = link_to new_post_path do
        %li#post
          %div
            .icon-expression
          .title Expression
      = link_to new_pledge_path do
        %li#pledge
          %div
            .icon-trophy
          .title Goal
