- content_for :title, "Home"
- @no_tab_bar = true
- @body_id = "home"
- @body_class = "green no-nav-bar"

= render "shared/home_content"

#home-content
  = button_to "Get started", ob_create_path, :method => "get"
  = link_to "Terms & conditions", terms_and_conditions_path, :class => "small-link"

  

