- content_for :title, "Network"
- @body_id = "home"
- @body_class = "peach no-nav-bar network"
- @inner_class = "tab-bar"
- @tab_highlight = "network-tab"

#page-header
  %h1 Network

.white-panel
  %h4 Coming Soon.
