- content_for :title, "New Circle"
- @no_tab_bar = true
- @body_id = "new-circle-purpose"
- @body_class = "peach"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title New Circle
    .actions
      = button_to "Next", new_circle_who_path, :id => "next-button", :method => "get"

#question-holder
  %section{:id => "phone-number-confirmation"}
    .question
      .question-title
        %h4 What do you want your circle to help you with?
      .question-content
        %input{:type => "text", :id => "purpose"}
        #purpose-suggestions
          = link_to new_circle_who_path do
            %ul
              %li Lorem Ipsum
              %li Dolor sit
              %li Amet consiquter
        = image_tag "illustrations/6.png", :style => "right: 30px; top: -7.5rem;", :class => "illustration"


:javascript
  var input = document.getElementById("purpose");
  var next = document.getElementById("next-button");
  input.focus();
  input.addEventListener("input", function(){
    if(!next.classList.contains("active")){
      next.classList.add("active");
      document.getElementById("purpose-suggestions").classList.add("active");
    }
  });
