- content_for :title, "New Circle - confirm"
- @no_tab_bar = true
- @body_id = "new-circle-confirm"
- @body_class = "peach"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title Your circle

#new-circle-overview
  .person#you You
  .person#person-1 
    Blanche 
    %br
    Saunders
  .person#person-2
    Alan
    %br
    Avery
  .person#person-3
    Sam
    %br
    Lucas

#new-circle-description
  %h4 Are you comfortable talking to these 3 about yourself? Do they understand you best and really want to help you?
  = button_to "Yes - create circle", new_circle_photo_path, :method => "get"
