- content_for :title, "New Circle - add a photo"
- @no_tab_bar = true
- @body_id = "new-circle-photo"
- @body_class = "blue"
- @inner_class = "nav-bar"

- session[:photo_link] = circle_first_time_path

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title Add a photo
    .actions
      = button_to "Skip", ob_age_path, :id => "next-button", :method => "get", :class => "active"


#question-holder
  .success-toast Circle created!
  = render "shared/photo_chooser"
