- content_for :title, "Onboarding"
- @no_tab_bar = true
- @body_id = "onboarding"
- @body_class = "peach"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title New Circle
    .actions
      = button_to "Next", new_circle_who_path, :id => "next-button", :method => "get"

#question-holder
  %section{:id => "phone-number-confirmation"}
    .question
      .question-title
        %h4 What do you want your circle to help you with?
      .question-content
        %input{:type => "text"}
        = image_tag "illustrations/6.png", :style => "right: 30px; top: -7.5rem;"
