- content_for :title, "Onboarding"
- @no_tab_bar = true
- @body_id = "onboarding"
- @body_class = "blue"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    = link_to :back do
      #back
    .title +44 07810356032
    .actions
      = button_to "Next", ob_age_path, :id => "next-button", :method => "get"

#question-holder
  = render "shared/confirm_mobile"
