- content_for :title, "Set status"
- @no_tab_bar = true
- @body_id = "set-status"
- @body_class = "peach"
- @inner_class = "nav-bar"

- content_for :nav_bar do
  #nav-bar
    .title Set status
    .actions
      = link_to "Cancel", new_circle_who_path

.colour#neutral-colour
.colour#sad-colour
.colour#happy-colour

#status-display

#slider
  #dragger
    #drag-center &#129300;

