- content_for :title, "Set status"
- @no_tab_bar = true
- @body_id = "set-status"
- @body_class = "peach"
- @inner_class = "nav-bar"

- link = session[:status_link] ? session[:status_link] : circle_new_status_path

- content_for :nav_bar do
  #nav-bar
    .title Set status
    .actions
      = link_to "Cancel", :back



%h2 How are you at the moment?

.white-panel
  #status-display
    = image_tag "icons/neutral-face.png"

  #slider
    #track
      #track-overlay
    #dragger
      #drag-center

  = button_to "Save", link, :method => "get"
