- content_for :title, "Your status"
- @no_tab_bar = true

%h1 Your mood lol
%p could make this like a rorsarch test to begin with - how do these pictures make you feel?

= button_to "Continue", onboarding_path, :method => "get"