- content_for :title, "End of Test"
- @no_tab_bar = true
- @body_id = "test_page"
- @body_class = "blue"
- @inner_class = ""


#testing
  = image_tag "circles-logo-vertical-white.png"
  .white-panel
    %h1 Thanks!
    %p Now that you've finished, please return to the survey and give us your honest feedback.
    = link_to "Back to survey", "http://www.circles.care/mvp-survey", :class => "button"
