!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "Circles"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, height=device-height,  maximum-scale=1.0, target-densityDpi=device-dpi"}
    %meta{:name => "apple-mobile-web-app-capable", :content => "yes"}

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

  %body{:id => (@body_id if @body_id), :class => (@body_class if @body_class)}

    .outer-wrapper

      .inner-wrapper

        .page-content{:class => (@inner_class if @inner_class)}
          = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
