!!!
%html{:lang => "en"}
  %head
    %title= content_for?(:title) ? yield(:title) : "Circles"
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

  %body{:id => (@body_id if @body_id)}

    .outer-wrapper
      = yield

    = javascript_include_tag "application", "data-turbolinks-track" => true
